body
{
padding:0;
margin: 0;
color: black; /*цвет текста*/
font-size: 25px; /*размер шрифта*/
font-family: 'Open Sans'; /* шрифт всего сайта*/
font-weight: 400;
letter-spacing: 0.03em;/*пространство между буквами*/
line-height: 1.55em; /*высота букв*/
}

.container
{
  width: 1110px;
  margin: 0 auto;

}

header
{
  padding-top: 70px; /* отступ сверху*/
}

.mail
{
color: red;
text-decoration: none;
}

.nav
{
  display: flex;
  justify-content: space-between; /* левую часть к левому краю, а правую - к правому*/
  align-items: center; /* центрировать как на шампур*/
}

p
{
  line-height: 1.5em;
  letter-spacing: 0.07em;
  font-size: 25px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.header-content
{
  display: flex;
justify-content: space-between;
}

.offer-title
{
  letter-spacing: 0.07em;
  font-size: 45px;
  line-height: 63px;
  text-transform: uppercase;
}

h1,h2,h3,h4,h5
{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a
{
  text-decoration: none;
}

.place
{
  padding-bottom: 20px;
  font-size: 40px;
  font-family: 'Caveat', cursive;
}

.logo
{
  position: center;
  width: 520px;
  height: 150px;

}


.btn1 /* кнопка */
{
  padding: 23px 37px;
  color: white;
  background:red;
  font-weight: 700;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn2 /* кнопка */
{
  padding: 23px 37px;
  color: white;
  background:red;
  font-weight: 700;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn3 /* кнопка */
{
  padding: 23px 37px;
  color: white;
  background:red;
  font-weight: 700;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn1:hover /* когда наводишь на кнопку */
{
  background: #B22222;
}

.btn2:hover /* когда наводишь на кнопку */
{
  background: #B22222;
}

.btn3:hover /* когда наводишь на кнопку */
{
  background: #B22222;
}

/*
.btn:active когда тыкаешшь на кнопку
{
  background: white;
}
*/

.intro
{
  color: white;
  margin-top: 30px;
  padding: 30px;
  background: #808080;
  padding: 30px;
  width: 449px; /*длина*/
}
.intro:hover
{
background-color: #C0C0C0;
}

.intro-title
{
  font-weight: 700;
}

.bali-img
{
width: 500px;
height: 450px;
}
